In [6]:
import pickle as pk
import pandas as pd
from IPython.display import display
# Debugger used to read in and visualize feature planes from the ValueNet input file

try:  # X_train
    with open("value_net_x_input.pickle","rb") as pickle_in_x:
        db_input_x = pk.load(pickle_in_x)
        
        try:  # y_train
            with open("value_net_y_input.pickle","rb") as pickle_in_y:
                db_input_y = pk.load(pickle_in_y)
                
                count = 0
                # for every frame
                for item in range(len(db_input_x)):
                    composite_frame = db_input_x[item]
                    
                    # for every feature plane in the frame
                    for single_frame in composite_frame:
                        df = pd.DataFrame(single_frame)
                        display(df)

                    print("count:",count,"{ target label (win-likelihood) =>", db_input_y[count], "}")
                    count += 1
            
        except IOError:
            print("IOError", file=sys.stderr)
        except EOFError:
            print("EOFError", file=sys.stderr)
except IOError:
    print("IOError", file=sys.stderr)
except EOFError:
    print("EOFError", file=sys.stderr)

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  0  1  0  1  1  0
2  0  1  1  1  1  0  1  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  1  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  1  1  1  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 0 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  1  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 1 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  1  0  0  0  0  0  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  1  1  1  1  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 2 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 3 { target label (win-likelihood) => 0.48 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  0  0  0
8  0  1  0  1  0  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  1  1  1  0  1  1  1  0
6  0  0  1  0  0  1  1  1  1  0
7  0  1  0  0  1  1  1  1  1  0
8  0  0  0  0  1  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  0  1  1  0  0  1  0  0  0
5  0  1  0  0  0  1  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  1  0  0  0  0  0  0
8  0  0  1  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 4 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  1  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  1  0  0  0
6  0  0  1  0  0  1  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 5 { target label (win-likelihood) => 0.6 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  1  1  1  1  0
5  0  0  1  0  1  1  1  1  0  0
6  0  0  0  0  1  1  0  1  0  0
7  0  0  0  0  0  0  0  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  1  0  1  0  0  0  0  0  0
6  0  0  1  1  0  0  1  0  0  0
7  0  0  0  1  1  1  1  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 6 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 7 { target label (win-likelihood) => 0.25 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  0  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  1  1  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  0  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 8 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  1  1  1  1  0  0  0
3  0  0  0  1  0  1  0  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 9 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 10 { target label (win-likelihood) => 0.42857142857142855 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  0  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 11 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  1  1  0
2  0  1  1  1  0  0  0  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  1  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  1  1  1  0  0  0
4  0  0  0  0  1  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 12 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 13 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  1  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 14 { target label (win-likelihood) => 0.6666666666666666 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  1  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 15 { target label (win-likelihood) => 0.48 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  1  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 16 { target label (win-likelihood) => 0.3333333333333333 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 17 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  0  0  0  1  1  0
2  0  1  1  1  0  0  1  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  1  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  1  0  0  0  1  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  0  0  1  1  1  0  0  0
4  0  0  0  0  1  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 18 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 19 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  0  0  0  0  1  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  1  1  1  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  1  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 20 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  0  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  1  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 21 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  0  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  1  0  0  0
3  0  0  0  1  1  1  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  1  1  1  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  0  0  0  0  0
4  0  1  1  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  1  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 22 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  0  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  1  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  1  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 23 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 24 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  1  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  1  1  1  1  0
5  0  0  1  0  1  1  1  1  0  0
6  0  0  0  0  1  1  0  0  0  0
7  0  0  0  0  0  0  1  0  1  0
8  0  0  0  0  0  0  0  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  1  0  1  0  0  0  0  0  0
6  0  0  1  1  0  0  1  1  1  0
7  0  0  0  1  1  1  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 25 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  0  1  1  0
2  0  1  1  1  1  0  1  1  1  0
3  0  1  1  0  0  0  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  1  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 26 { target label (win-likelihood) => 0.6 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  1  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  1  0  0  1  1  1  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 27 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  1  0  0  0  0
4  0  1  1  1  1  1  1  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 28 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  1  1  0
6  0  0  1  0  0  0  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  1  0  1  1  1  1  0  0  0
6  0  0  0  1  1  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  1  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 29 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 30 { target label (win-likelihood) => 0.4444444444444444 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  1  1  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  0  1  1  0  0  0
4  0  1  1  1  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  1  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 31 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  0  0  0  1  0
3  0  1  1  1  1  1  0  0  1  0
4  0  0  1  0  1  1  0  0  1  0
5  0  0  0  1  0  0  1  0  1  0
6  0  0  0  0  0  1  0  0  1  0
7  0  0  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  1  1  1  0  0
3  0  0  0  0  0  0  1  1  0  0
4  0  1  0  1  0  0  1  1  0  0
5  0  1  1  0  1  1  0  1  0  0
6  0  1  1  1  1  0  1  1  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 32 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 33 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  0  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  0  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  0  1  1  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  1  1  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 34 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  0  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 35 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  1  0  1  1  1  1  1  0
5  0  0  1  1  1  1  1  1  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 36 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 37 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  1  1  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  0  1  0  0  0  0
4  0  0  0  1  0  0  1  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 38 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  0  0  0
8  0  1  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  1  1  1  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  0  1  1  0  1  1  1  0
6  0  0  1  1  0  1  0  1  1  0
7  0  1  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  0  0  0  0
4  0  1  1  1  0  0  1  0  0  0
5  0  1  1  0  0  1  0  0  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  0  1  0  0
8  0  0  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 39 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  0  1  1  1  0
2  0  0  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  1  1  0  0  0  0  0  0  0
5  0  1  1  0  0  0  0  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0  0
3  0  0  1  0  1  0  0  0  0  0
4  0  0  0  1  1  1  1  0  0  0
5  0  0  0  1  1  1  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 40 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 41 { target label (win-likelihood) => 0.3333333333333333 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 42 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 43 { target label (win-likelihood) => 0.42857142857142855 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  0  1  0
7  0  1  1  1  1  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 44 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  1  1  1  1  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  1  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 45 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  0  0
8  0  1  1  1  1  0  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  1  0  1  1  1  1  1  0
5  0  0  1  1  1  1  1  1  0  0
6  0  0  1  0  0  0  0  1  0  0
7  0  0  0  0  0  0  0  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  1  1  0  0  0
7  0  0  0  0  0  1  1  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 46 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  0  1  1  1  0  0  1  0
4  0  0  0  0  1  1  0  0  1  0
5  0  0  0  1  0  0  1  0  1  0
6  0  0  0  0  0  1  0  0  1  0
7  0  0  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  1  1  1  0  0
3  0  0  1  0  0  0  1  1  0  0
4  0  1  1  1  0  0  1  1  0  0
5  0  1  1  0  1  1  0  1  0  0
6  0  1  1  1  1  0  1  1  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 47 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 48 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  1  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  1  1  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 49 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  0  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  1  1  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 50 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 51 { target label (win-likelihood) => 0.4 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  0  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  1  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 52 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  1  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  0  0  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  1  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  1  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 53 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  0  0
8  0  1  1  1  1  0  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  1  1  1  1  0
5  0  0  1  1  1  1  1  1  0  0
6  0  0  1  0  0  0  0  1  0  0
7  0  0  0  0  0  0  0  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  1  0  0  0  0  0  0  0  0
6  0  0  0  1  1  1  1  0  0  0
7  0  0  0  0  0  1  1  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 54 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  1  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  0  0  0  0  0
4  0  0  1  0  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 55 { target label (win-likelihood) => 0.6666666666666666 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  1  1  1  0  1  1  1  0
6  0  0  1  0  0  1  0  1  1  0
7  0  1  0  0  0  0  0  0  1  0
8  0  0  0  0  0  0  0  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  0  1  1  0  0  1  0  0  0
5  0  1  0  0  0  1  0  0  0  0
6  0  0  0  1  1  0  1  0  0  0
7  0  0  0  1  1  1  1  0  0  0
8  0  0  0  0  0  1  1  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 56 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  1  1  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 57 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 58 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  0  0  1  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 59 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  0  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 60 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  1  0
2  0  0  0  0  1  1  1  0  1  0
3  0  0  0  0  0  1  1  1  1  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  0  1  1  0  1  1  1  0
6  0  0  0  1  0  1  0  1  1  0
7  0  0  1  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  1  1  1  0  0  1  0  0  0
5  0  1  1  0  0  1  0  0  0  0
6  0  1  1  0  1  0  1  0  0  0
7  0  1  0  0  0  0  0  1  0  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 61 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  0  1  0  1  1  0
2  0  1  1  1  1  0  1  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  1  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  1  1  0  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 62 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  1  0  0  0  1  0  0
8  0  1  1  1  1  0  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  1  1  1  1  0
5  0  0  1  1  1  1  1  1  0  0
6  0  0  1  1  1  1  0  1  0  0
7  0  0  0  0  1  0  0  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  1  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  1  1  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 63 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 64 { target label (win-likelihood) => 0.3888888888888889 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 65 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  1  0
2  0  0  0  0  0  0  0  0  1  0
3  0  0  0  0  0  1  0  0  1  0
4  0  0  0  0  1  0  0  0  1  0
5  0  0  0  1  0  0  1  0  1  0
6  0  0  0  0  0  1  0  0  1  0
7  0  0  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  1  1  1  1  0  0
3  0  0  1  1  1  0  1  1  0  0
4  0  1  1  1  0  1  1  1  0  0
5  0  1  1  0  1  1  0  1  0  0
6  0  1  1  1  1  0  1  1  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 66 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  0  1  0  1  1  0
2  0  1  1  1  1  0  1  1  1  0
3  0  1  1  0  0  0  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  1  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  0  0  1  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 67 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  1  1  1  1  1  0
4  0  1  1  0  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  1  0  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 68 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 69 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  1  0  0
8  0  1  0  1  0  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  1  1  1  0  1  1  1  0
6  0  0  1  0  0  1  1  1  1  0
7  0  1  0  0  1  1  0  0  1  0
8  0  0  0  0  1  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  0  1  1  0  0  1  0  0  0
5  0  1  0  0  0  1  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  1  0  0  1  0  0  0
8  0  0  1  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 70 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 71 { target label (win-likelihood) => 0.3333333333333333 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  1  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  0  1  1  0  0  0
3  0  0  0  0  1  1  0  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  0  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 72 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  1  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  1  1  1  1  0
5  0  0  1  0  1  1  1  1  1  0
6  0  0  0  0  1  1  0  1  1  0
7  0  0  0  0  0  0  1  0  1  0
8  0  0  0  0  0  0  0  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  1  0  1  0  0  0  0  0  0
6  0  0  1  1  0  0  1  0  0  0
7  0  0  0  1  1  1  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 73 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  1  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  1  0  1  0  1  1  1  0
6  0  0  0  0  0  1  0  1  1  0
7  0  0  0  0  0  0  1  0  1  0
8  0  0  0  0  0  0  0  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  0  1  1  0  0  1  0  0  0
5  0  1  0  1  0  1  0  0  0  0
6  0  0  1  1  1  0  1  0  0  0
7  0  0  0  1  1  1  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 74 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  0  0  1  0  0  0
6  0  0  0  0  0  1  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  1  1  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 75 { target label (win-likelihood) => 0.6 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  1  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  1  0  0  1  1  1  0  0  0
6  0  1  0  1  1  1  0  0  0  0
7  0  1  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 76 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 77 { target label (win-likelihood) => 0.4 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 78 { target label (win-likelihood) => 0.16666666666666666 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  1  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  0  1  1  1  1  1  0
5  0  0  1  0  1  1  1  1  0  0
6  0  0  0  0  1  1  0  1  0  0
7  0  0  0  0  0  0  1  0  1  0
8  0  0  0  0  0  0  0  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  1  0  1  0  0  0  0  0  0
6  0  0  1  1  0  0  1  0  0  0
7  0  0  0  1  1  1  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 79 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 80 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 81 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  1  1  1  1  1  1  1  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 82 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  0  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 83 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  1  0  0  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  1  0  0  0  0  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  0  1  1  1  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 84 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 85 { target label (win-likelihood) => 0.4 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  1  1  0
6  0  0  1  0  0  0  1  1  1  0
7  0  0  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  1  0  1  1  1  1  0  0  0
6  0  1  0  1  1  1  0  0  0  0
7  0  1  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  1  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 86 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  0  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  1  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  1  1  1  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 87 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  1  1  0
2  0  1  1  1  0  0  1  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  1  0  0  0  1  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  0  0  1  1  1  0  0  0
4  0  0  0  0  1  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 88 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  1  1  0  0  0  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  0  1  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 89 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  1  1  1  0
4  0  1  1  0  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 90 { target label (win-likelihood) => 0.4 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  0  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  1  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 91 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  1  0  0  0  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  0  0  1  0  0  0
3  0  0  0  1  0  1  0  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  1  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 92 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  1  1  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  1  1  1  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  0  1  1  0  0  0
4  0  1  1  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  1  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 93 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  1  0  1  1  1  1  1  0
5  0  0  1  0  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  1  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 94 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  1  1  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 95 { target label (win-likelihood) => 0.42857142857142855 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  0  0  0
8  0  1  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  1  1  1  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  0  1  1  0  1  1  1  0
6  0  0  0  0  0  1  0  1  1  0
7  0  1  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  0  0  0  0
4  0  1  1  1  0  0  1  0  0  0
5  0  1  1  0  0  1  0  0  0  0
6  0  1  1  1  1  0  1  0  0  0
7  0  0  0  0  0  0  0  1  0  0
8  0  0  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 96 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  1  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  1  1  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 97 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  0  0  0  0  0  0  1  0
6  0  1  0  0  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  0  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  1  0  1  1  1  1  1  0
5  0  0  1  1  1  1  1  1  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  1  1  1  0  0
7  0  0  0  0  0  1  1  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 98 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 99 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  1  0  1  1  1  0
2  0  0  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  1  1  0  0  0  0  0  0  0
5  0  1  1  0  0  0  0  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  0  0  0  0  0  0
2  0  1  0  1  0  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  0  1  1  1  1  0  0  0
5  0  0  0  1  1  1  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 100 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  0  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  0  0  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  0  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  1  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 101 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  0  0  0
8  0  1  0  0  0  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  0  1  1  0  1  1  1  0
6  0  0  1  1  0  1  1  1  1  0
7  0  1  0  1  1  1  1  1  1  0
8  0  0  0  1  1  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  1  1  1  0  0  1  0  0  0
5  0  1  1  0  0  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  1  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 102 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  1  0  1  0  1  0  0
4  0  0  1  1  1  0  0  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  1  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 103 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  1  1  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 104 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  0  1  1  0  0  0
3  0  0  0  0  0  1  0  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  1  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  1  1  1  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 105 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  0  0  0  1  1  0
2  0  1  1  1  1  0  1  1  1  0
3  0  1  1  0  0  0  0  0  1  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  1  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  1  1  1  0  1  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 106 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  0  1  1  0
3  0  1  0  0  0  0  0  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  1  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  1  1  1  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  1  1  1  0  0  0
4  0  1  1  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  1  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 107 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  1  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  1  0  0  0  0
4  0  1  1  0  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 108 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  1  1  1  1  1  1  1  0
2  0  0  0  1  0  0  0  0  1  0
3  0  0  0  0  1  1  0  0  1  0
4  0  0  0  0  1  1  0  0  1  0
5  0  0  0  1  0  0  1  0  1  0
6  0  0  0  0  0  1  0  0  1  0
7  0  0  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  0  1  1  1  1  0  0
3  0  0  1  1  0  0  1  1  0  0
4  0  1  1  1  0  0  1  1  0  0
5  0  1  1  0  1  1  0  1  0  0
6  0  1  1  1  1  0  1  1  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 109 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 110 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  1  1  0
6  0  1  1  0  0  0  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  1  1  1  1  1  1  0  0  0
6  0  0  0  1  1  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 111 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 112 { target label (win-likelihood) => 0.8333333333333334 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  1  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 113 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  0  1  1  1  0
3  0  1  1  0  0  0  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  1  0  0  0  0
3  0  0  0  0  0  1  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 114 { target label (win-likelihood) => 0.6 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  1  1  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 115 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 116 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 117 { target label (win-likelihood) => 0.3333333333333333 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  0  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  1  1  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  0  0  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 118 { target label (win-likelihood) => 0.3333333333333333 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 119 { target label (win-likelihood) => 0.6 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  0  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 120 { target label (win-likelihood) => 0.375 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  0  1  1  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 121 { target label (win-likelihood) => 0.6666666666666666 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  0  1  1  1  1  0
4  0  1  1  0  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 122 { target label (win-likelihood) => 0.375 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  0  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  1  1  0  1  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 123 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  1  0  0
8  0  1  1  1  0  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  1  1  1  0  1  1  1  0
6  0  0  1  0  1  1  1  1  1  0
7  0  1  0  1  1  1  0  0  1  0
8  0  0  0  0  1  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  0  1  1  0  0  1  0  0  0
5  0  1  0  0  0  1  0  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 124 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  1  0  0  0  0  0  0  0  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  1  1  1  1  0  0  0
3  0  0  0  1  0  1  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  1  0  1  1  1  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 125 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  1  1  0  0  0  0  0
4  0  0  0  1  0  0  0  0  0  0
5  0  0  1  1  1  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  0  0  1  0  0  0  0
4  0  1  1  0  1  1  1  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  1  1  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 126 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  0  0  0  0  0  1  0
7  0  1  1  1  0  0  1  1  1  0
8  0  1  1  1  1  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  1  1  0  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  0  1  0  0  0  0
7  0  0  0  0  1  0  0  0  0  0
8  0  0  0  0  0  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 127 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  0  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  1  1  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 128 { target label (win-likelihood) => 0.6 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  1  1  1  0
4  0  1  1  1  0  0  1  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  1  0  0  0  0
5  0  0  0  0  0  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0
5  0  0  0  0  1  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 129 { target label (win-likelihood) => 0.35 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  1  0  0  0  0  1  1  0
3  0  0  0  0  0  0  0  0  0  0
4  0  1  1  0  0  0  0  0  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  0  1  0  0  0  0  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  1  1  1  1  0  0  0
3  0  1  1  1  0  1  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  1  0  0  0  0  0  0
6  0  0  1  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  1  1  0
4  0  0  0  0  0  1  1  1  0  0
5  0  0  0  0  1  1  1  0  0  0
6  0  0  0  0  1  1  1  1  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 130 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 131 { target label (win-likelihood) => 0.3333333333333333 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  0  0  0
8  0  1  0  1  0  0  0  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  0  1  1  0  1  1  1  0
6  0  0  1  0  0  1  1  1  1  0
7  0  1  0  0  1  1  1  1  1  0
8  0  0  0  0  1  1  1  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  1  1  1  0  0  1  0  0  0
5  0  1  1  0  0  1  0  0  0  0
6  0  0  0  1  1  0  0  0  0  0
7  0  0  0  1  0  0  0  0  0  0
8  0  0  1  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 132 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  0  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  1  0  0  0  0  0  0  0  0
5  0  1  1  0  0  0  0  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  1  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  0  1  1  1  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 133 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  1  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  1  0  0
8  0  1  1  1  1  0  1  0  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  1  1  1  0  1  1  1  0
6  0  0  1  0  0  1  0  1  1  0
7  0  1  0  0  0  0  1  0  1  0
8  0  0  0  0  0  0  0  1  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  0  1  1  0  0  1  0  0  0
5  0  1  0  0  0  1  0  0  0  0
6  0  0  0  1  1  0  1  0  0  0
7  0  0  0  1  1  1  0  0  0  0
8  0  0  0  0  0  1  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 134 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  0  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  1  0  1  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  1  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  1  1  0  1  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 135 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  0  0  0  0  1  0
2  0  1  0  0  0  0  0  1  0  0
3  0  1  0  0  0  0  0  0  1  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  1  0  0  0  0  0  0  0  0
7  0  0  1  0  0  0  0  0  0  0
8  0  1  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  1  1  1  1  0  0
2  0  0  0  0  1  1  1  0  0  0
3  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  1  1  0  1  1  0
5  0  0  0  1  1  0  1  1  1  0
6  0  0  1  1  0  1  0  1  1  0
7  0  1  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  1  1  0  0  0  0  1  0
3  0  0  1  1  1  0  1  1  0  0
4  0  1  1  1  0  0  1  0  0  0
5  0  1  1  0  0  1  0  0  0  0
6  0  0  0  0  1  0  1  0  0  0
7  0  0  0  0  0  0  0  1  0  0
8  0  0  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 136 { target label (win-likelihood) => 0.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  1  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  0  1  0
6  0  1  1  1  0  1  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  1  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  0  0  0  0
4  0  0  0  0  0  0  1  0  0  0
5  0  0  0  0  1  1  1  1  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 137 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  1  1  1  0
4  0  1  0  0  0  0  0  1  1  0
5  0  1  0  0  0  0  0  1  1  0
6  0  1  1  0  0  0  1  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  1  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  1  1  1  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  1  1  1  1  1  0  0  0
5  0  0  1  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 138 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  0  1  0  1  1  1  0
2  0  0  1  0  0  1  1  1  1  0
3  0  1  0  0  0  1  0  1  1  0
4  0  0  0  0  0  0  0  1  1  0
5  0  0  0  0  0  0  0  0  1  0
6  0  0  0  0  0  0  1  1  1  0
7  0  0  1  0  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  1  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  1  1  0  0  1  0  0  0  0
5  0  1  1  0  1  0  0  0  0  0
6  0  1  1  1  1  1  0  0  0  0
7  0  1  0  1  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  1  0  0  0  0  0  0
2  0  1  0  1  0  0  0  0  0  0
3  0  0  1  1  1  0  0  0  0  0
4  0  0  0  1  1  0  1  0  0  0
5  0  0  0  1  0  1  1  1  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 139 { target label (win-likelihood) => 1.0 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  0  0  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  1  0  0  0  1  1  0
6  0  1  1  1  0  0  0  1  1  0
7  0  1  1  1  1  0  0  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  1  0  1  0  0  0
6  0  0  0  0  0  1  1  0  0  0
7  0  0  0  0  0  0  1  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  1  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  0  0  1  0  0  0  0
6  0  0  0  0  1  0  0  0  0  0
7  0  0  0  0  0  1  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 140 { target label (win-likelihood) => 0.42857142857142855 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  1  1  1  1  1  1  1  1  0
3  0  1  1  1  1  1  0  1  1  0
4  0  1  1  0  0  0  0  1  1  0
5  0  1  1  0  0  0  0  1  1  0
6  0  1  1  0  0  0  0  1  1  0
7  0  1  1  1  1  1  1  1  1  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  1  0  0  0
4  0  0  0  0  0  1  1  0  0  0
5  0  0  0  1  1  1  1  0  0  0
6  0  0  0  1  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  1  1  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  1  1  1  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

count: 141 { target label (win-likelihood) => 0.5 }

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  1  1  1  1  1  1  1  1  0
2  0  0  0  0  0  0  0  0  1  0
3  0  0  0  1  1  1  0  0  1  0
4  0  0  0  0  1  1  0  0  1  0
5  0  0  0  1  0  0  1  0  1  0
6  0  0  0  0  0  1  0  0  1  0
7  0  0  0  1  1  1  1  0  1  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  1  1  1  1  1  1  1  0  0
3  0  0  1  0  0  0  1  1  0  0
4  0  1  1  1  0  0  1  1  0  0
5  0  1  1  0  1  1  0  1  0  0
6  0  1  1  1  1  0  1  1  0  0
7  0  1  1  0  0  0  0  1  0  0
8  0  1  1  1  1  1  1  1  1  0
9  0  0  0  0  0  0  0  0  0  0

count: 142 { target label (win-likelihood) => 0.0 }